body {
    margin: 0; 
    background-color: lime;
}

.navbar {
    background-color: mediumblue;
    padding: 10px;
    margin: 0;
    text-align: right;
    text-decoration-color: ivory;
}

.nav-link {
    background-color: darkorange;
    color: ivory;
    padding: .4em;
    border-radius: 15px;
}

h1 {
    background-color: rgb(247, 10, 10);
}

legend {
    background-color: lightseagreen;
}

.regbox {
    background-color: rgb(210, 236, 116);
    text-align: center;
    display: block; 
}

.images {
    display: inline-block;
    margin-left: 40%;
    margin-right: 40%;
    padding: 0;
    width: 20%;
}
    
.sub {
    background-color: rgb(72, 34, 241);
    color: ivory;
}
